
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PhotoPrintDetial</title>
    <style>
        ul {
            list-style:none;
            margin: 0;
            padding: 0;
        }
        li {
            list-style:none;width:2.5cm; height:3.5cm;background-color:#000;display:inline-block; margin-left:0.29cm;
            list-style-type:none;margin-top:0.2cm;
        }
    </style>
</head>
<body>
    <div style=" width:21cm;height:29.7cm;border:1px solid #ddd;"> 
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>
