
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        网上政务首页

        @using (Html.BeginForm("Index", "EGovermen", FormMethod.Post)) 
        {
            <input type="submit" value="导出WORD" /> 
        }
    </div>
</body>
</html>
