@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Index</title>
    <link href="~/Css/login.css" rel="stylesheet" />
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-size: cover;
            background-color: #ddd;
            
        }
    </style>
    
</head>
<body>
    @TempData["Message"]
    <div class="login">
        <div class="message">人口网-管理登录</div>
        <div id="darkbannerwrap"></div>
        @using(Html.BeginForm("Index","Login",FormMethod.Post))
        {
            <input name="action" value="login" type="hidden">
            <input name="username" placeholder="用户名" required="" type="text">
            <hr class="hr15">
            <input name="password" placeholder="密码" required="" type="password">
            <hr class="hr15">
            <input id="code" name="code" placeholder="验证码" required="" type="text" data-container="body" data-toggle="popover" data-placement="bottom"
               style="display:inline-block; width:230px;">
            <img id="changeViliCode" src="~/Ashx/Code.ashx?action=createCode&arg=" height="45" alt="验证码" width="100"
                 onclick="this.src+='1';" style="cursor:pointer; vertical-align: middle; " title="点击换一张" />
            <hr class="hr15">
            <input value="登录" style="width:100%;" type="submit">
            <hr class="hr20">
            <!-- 帮助 <a onClick="alert('请联系管理员')">忘记密码</a> -->
            }


    </div>

    <div class="copyright">© 2017</div>
    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#code').popover(
                {
                    trigger: 'manual', //触发方式
                    //template: '', //你自定义的模板
                    //title: "标题",//设置 弹出框 的标题
                    html: true, // 为true的话，data-content里就能放html代码了
                    content: '<button type="button" class="btn btn-warning btn-xs"><span style="font-weight:bold;">！</span></button><span style="font-size:15px;">&nbsp;&nbsp;验证码错误</span>',//这里可以直接写字符串，也可以 是一个函数，该函数返回一个字符串；
                    //delay: { show: 2, hide: 3 }
                }
             ).on('blur', function () {
                 var el = $(this);
                 var codeVal = $.trim($(this).val());
                 if (codeVal.length > 0) {
                     $.post('/Ashx/Code.ashx?action=getSessionCode', { 'code': codeVal }, function (result) {
                         console.log(result);
                         el.popover(result == 'false' ? 'show' : 'hide');
                     }); //post end
                 }
                 
             }).on('focus', function () {
                 $(this).popover('hide');
             });
           
        });//ready end
    </script>
</body>
</html>
