
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WelCome</title>
</head>
<body>
    <div> 欢迎设置页面
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/_PartialPage1.cshtml")
</body>
</html>
