@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>申请表打印首页</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-align-justify"></span> &nbsp;内容列表</h3>
        </div>
        <div class="panel-body">
            <a href="/Admin/User/InsertUser" style="color:#fff; text-decoration:none;">
                <span id="div_Status" class=" btn-group" role="group" style="display:inline;">
                    <span class="btn btn-default btn-success">
                        <span class="glyphicon glyphicon-plus"></span> 添加
                    </span>
                </span>
            </a>
            
            <div class="input-group" style="width:300px; margin-left:200px;">
                <input type="text" class="form-control" placeholder="请输入您要搜索的用户名">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <br />
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <td>受理编号</td>
                        <td>持证人姓名</td>
                        <td>身份证号码</td>
                        <td>户籍地</td>
                        <td>联系电话</td>
                        <td>婚姻状况</td>
                        <td>办理状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>雷流证第1号</td>
                        <td>余春英</td>
                        <td>523125199010121562</td>
                        <td>望丰乡人口和计划生育办公室</td>
                        <td>135462686269</td>
                        <td>已婚</td>
                        <td>处理完毕</td>
                    </tr>
                    <tr>
                        <td>雷流证第1号</td>
                        <td>余春英</td>
                        <td>523125199010121562</td>
                        <td>望丰乡人口和计划生育办公室</td>
                        <td>135462686269</td>
                        <td>已婚</td>
                        <td>处理完毕</td>
                    </tr>
                    <tr>
                        <td>雷流证第1号</td>
                        <td>余春英</td>
                        <td>523125199010121562</td>
                        <td>望丰乡人口和计划生育办公室</td>
                        <td>135462686269</td>
                        <td>已婚</td>
                        <td>处理完毕</td>
                    </tr>
                    <tr>
                        <td>雷流证第1号</td>
                        <td>余春英</td>
                        <td>523125199010121562</td>
                        <td>望丰乡人口和计划生育办公室</td>
                        <td>135462686269</td>
                        <td>已婚</td>
                        <td>处理完毕</td>
                    </tr>
                    <tr>
                        <td>雷流证第1号</td>
                        <td>余春英</td>
                        <td>523125199010121562</td>
                        <td>望丰乡人口和计划生育办公室</td>
                        <td>135462686269</td>
                        <td>已婚</td>
                        <td>处理完毕</td>
                    </tr>
                    <tr>
                        <td>雷流证第1号</td>
                        <td>余春英</td>
                        <td>523125199010121562</td>
                        <td>望丰乡人口和计划生育办公室</td>
                        <td>135462686269</td>
                        <td>已婚</td>
                        <td>处理完毕</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {

        });//ready end
    </script>

</body>
</html>
